<%- include('./partial/header'); -%>
<div class="row">
    <div class="col-sm-8 font card middle-card" style="margin: 20px 0px">
        <div class="card-body">
            <h5>About IDCL</h5>
            <small>India Industrial Development Corporation Limited has been incorporated in the year 1965 and it has
                been
                registered under the Companies Act. 1956. The objective of the Corporation as laid down while forming
                the
                Corporation are as follows:</small>
            <ul>
                <li>To promote, establish and execute industries / projects or enterprises for manufacture and
                    production of
                    plant and machinery tools, implements etc. which in the opinion of the company are likely to
                    promote.
                </li>
                <li> To promote and operate schemes for industrial development of India</li>
                <li>To aid, assist and finance any industrial undertaking, project or enterprise whether owned or run by
                    Government, statutory body, private company or individual with capital credit, means or resources
                    for
                    prosecution of its works and business.</li>
                <li>To promote and establish companies and associations for execution of industrial undertakings</li>
                <li>To procure capital for or to provide machinery equipments and other facilities to any company or
                    association
                    for the purpose of carrying into effect any objects connected with the industrial development and to
                    subscribe for underwrite or otherwise deal with shares, debentures.</li>
            </ul>
            <small>The above objectives which were set by the Govt. of India while forming the Corporation were solely
                promotional in nature.</small>
            <div class="card border-primary">
                <div class="card-body"><img src="/images/aidc_building.png" alt="idc_building"
                        style="width: 100%; height: 100%;"></div>
            </div>
            <small>India Industrial Development Corporation Limited has been striving towards creating high standard
                industrial
                infrastructure in India for the growth and development of industries in the State.
                <br> <br>
                Strategy and Business Plan adopted for realization of goal</small>
            <br> <br>
            <h5>Strategy : </h5>
            <ul>
                <li>Restructuring for project development, appraisal, facilitation and corporate service group
                    activities
                </li>
                <li>Project development in PPP mode for generating immediate revenues.</li>
                <li>Develop export oriented units in the state for better trade facilitation.</li>
                <li>Use the immovable properties of closed PSUs for better utilization of industrialization.</li>
            </ul>
            <br>
            <h5>Business Plan</h5>
            <ul>
                <li>With the objective of developing sustainable revenue sources, IDCL shall pro-actively engage in
                    project
                    identification and development of commercially viable project.</li>
                <li>IDCL shall grow into a leading consultancy agency for similar organizations of North-Eastern Region.
                </li>
                <li>Under the initiative of IDCL with central assistance, two sector specific project namely ‘Mega Food
                    Park’ at
                    Tihu, Dist-Nalbari and ‘Bamboo Technology Park’ at Chaygaon, Dist- Kamrup are under implementation.
                </li>
                <li>The Corporation has taken steps to set up sector specific industrial parks in PPP mode and following
                    parks
                    are in progress of implementation – Plastic Park at Gelapukhuri, Dist-Tinsukia, Jute Park at Dhing,
                    Dist-Nagaon, Banana Park and Agro Hub at Matia, Dist- Goalpara, Tea Park near Guwahati, Dist-Kamrup,
                    Chemical and Pharmaceutical Hub at Chandrapur, Dist-Kamrup.</li>
                <li>The Corporation has taken steps for implantation of a Corporate Complex and a Commercial & Business
                    Hub
                    at
                    its land at Guwahati to accommodate corporate office of different multinational, central & state
                    corporate
                    houses in the Corporate Complex at R. G. Baruah Road and commercial/ business organizations in the
                    Commercial & Business Hub at G.S. Road.</li>
                <li>
                    The Corporation has taken steps for construction of Border Trade Centres at different places to
                    facilitate
                    border trade with the neighboring countries and already completed one such BTC at Mankachar, Dist-
                    Dhubri
                    and another one at Golakganj, Dist- Dhubri is under implementation by the Corporation.</li>
                <li>The Corporation has already implemented a Ginger Pack House at Amingaon, Guwahati for value addition
                    and
                    cold storage of ginger. For backward facility, the corporation has taken steps to set up four
                    collection
                    centres at four different places of India.</li>
                <li>The Corporation had taken steps to set up an Air Cargo Complex in the State to be located at
                    Lokpriya
                    Gopinath Bordolia International Airport, Borjhar, Guwahati to improve the cargo handling
                    infrastructure
                    facility including cold chain facility.</li>
            </ul>
            <br>
            <h5>Vision</h5>
            <ul>
                <li>Enriching the state of India through a vibrant and sustained industrial growth.</li>
            </ul>
            <br>
            <h5>Mission</h5>
            <ul>
                <li> Facilitating the continuous and speedy industrial growth through optimal utilization of available
                    resources.</li>
            </ul>

        </div>
    </div>
    <div class="col-sm-4">
       
        <%- include('./partial/sidebar'); -%>

    </div>
</div>
<%- include('./partial/footer'); -%>