<%- include('./partial/header'); -%>
<div class="card" style="margin: 20px 0px;">
    <div class="card-body">
        <div class="font">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#home">Career Opportunity</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#profile">HR Mission And Vision</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#nodal">Nodal Officer For Superannuation Scheme</a>
                </li>
              </ul>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active show" id="home">
                    <div class="simple_heading">
                        <h2 class="heading-1"><span>Career Opportunity</span><span></span></h2>
        
                        <!-- next -->
                        <div class="career_occardian">
                            <div class="data_wrapper">
                                <a data-toggle="collapse" target="_blank" href="#collap1">Recruitment Notice for the position of Assistant (Pay Level-6) at IDCL <span class="new_span">NEW</span></a>
                            </div>
                            <a class="collapse apply_online" id="collap1" href="/loginForm/assistant" target="_blank">
                                Click here to apply online
                            </a>
                        </div>
        
                        <!-- next -->
                        <div class="career_occardian">
                            <div class="data_wrapper">
                                <a data-toggle="collapse" href="#collap2" role="button" aria-expanded="false"
                                    aria-controls="collapseExample">Recruitment Notice for the position of Technical Officer (Pay Level-7). at IDCL <span class="new_span">NEW</span></a>
                            </div>
                            <a class="apply_online collapse" id="collap2" href="/loginForm/technical">
                                Click here to apply online
                            </a>
        
                        </div>
        
                        <!-- next -->
                        <div class="career_occardian">
                            <div class="data_wrapper">
                                <a data-toggle="collapse" href="#collap3">Recruitment Notice for the position of Assistant Review Officer (Pay Level-6), IDCL
                                    <span class="new_span">NEW</span></a>
                            </div>
                             <a class="apply_online collapse" id="collap3" href="/loginForm/ARO">
                                Click here to apply online
                            </a>
        
                        </div>
                        <!-- next -->
                        <div class="career_occardian">
                            <div class="data_wrapper">
                                <a data-toggle="collapse" href="#collap4">Recruitment advertisement for the post of Assistant Safety Officer (Pay Level-6), IDCL
                                    positions <span class="new_span">NEW</span></a>
                            </div>
                             <a class="apply_online collapse" id="collap4" href="/loginForm/ASO">
                                Click here to apply online
                            </a>
        
                        </div>
                        <!-- next -->
                        <div class="career_occardian">
                            <div class="data_wrapper">
                                <a data-toggle="collapse" href="#collap5">IDCL Recruitment for Junior Assistant Grade-I (Pay Level-4)
                                    <span class="new_span">NEW</span></a>
                            </div>
                             <a class="apply_online collapse" id="collap5" href="/loginForm/JuniorAssistant">
                                Click here to apply online
                            </a>
        
                        </div>
                        <!-- next -->
                        <div class="career_occardian">
                            <div class="data_wrapper">
                                <a data-toggle="collapse" href="#collap6">Recruitment advertisement for the post of IT Assistant (Pay Level-6)
                                    <span class="new_span">NEW</span></a>
                            </div>
                             <a class="apply_online collapse" id="collap6" href="/loginForm/ItAssistant">
                                Click here to apply online
                            </a>
        
                        </div>
                        <!-- next -->
                        <div class="career_occardian">
                            <div class="data_wrapper">
                                <a data-toggle="collapse" href="#collap7">Recruitment advertisement for the post of Assistant Manager (Pay Level-7) 
                                    <span class="new_span">NEW</span></a>
                            </div>
                             <a class="apply_online collapse" id="collap7" href="/loginForm/AssistantManager">
                                Click here to apply online
                            </a>
        
                        </div>
                        <!-- next -->
                        <div class="career_occardian">
                            <div class="data_wrapper">
                                <a data-toggle="collapse" href="#collap8">Recruitment advertisement for the post of Hindi Translator  (Pay Level-6) 
                                    <span class="new_span">NEW</span></a>
                            </div>
                             <a class="apply_online collapse" id="collap8" href="/loginForm/hindiTranslator">
                                Click here to apply online
                            </a>
        
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade middle-card" id="profile">
                    <h2 class="heading-1">HR Mission and Vision</h2>
                    <h6>HR MISSION STATEMENT</h6>
                    <ul><li>To Recruit, Develop, Motivate and Retains a high performing and diverse
                        workforce and
                        foster a healthy, safe, and productive work environment for employees, their families, departments in
                        order to maximize individual and organizational potential and position IDCL as an employer of choice.</li></ul>
                    <h6>GOALS</h6>
                    <p>
                    <ul>
                        <li class="font-weight-light">Valuing, Encouraging, and Supporting a Diverse Workforce.</li>
                    </ul>
                    <ul>
                        <li class="font-weight-light">Continually Improving Individual and Organizational Effectiveness.</li>
                    </ul>
                    <ul>
                        <li class="font-weight-light">Anticipating and Meeting the Changing Needs of the Workforce / Family.
                        </li>
                    </ul>
                    <ul>
                        <li class="font-weight-light">Championing Career and Professional Growth.</li>
                    </ul>
                    <ul>
                        <li class="font-weight-light">Creating and Enhancing Strategic Partnerships</li>
                    </ul>
                    <ul>
                        <li class="font-weight-light">Enhancing Services through Technology</li>
                    </ul>
                    </p>
                    <h6>VALUES</h6>
                    <ul>
                        <li><strong>Promote Honesty, Integrity, and Trust: </strong><span class="font-weight-light">
                            We honor our commitments and conduct business in a manner that promotes fairness, respect,
                            honesty, and trust.</span></li>
                        <li><strong>Celebrate Teamwork: </strong><span class="font-weight-light">We encourage the diversity of
                            thoughts, experiences, and backgrounds and celebrate participation and partnership in all of our
                            endeavors.</span></li>
                        <li><strong>Encourage Communication: </strong><span class="font-weight-light">We solicit the input of others
                            and strive for transparency and inclusiveness.</span></li>
                        <li><strong>Focus on Our Customers: </strong><span class="font-weight-light">We have a passion for service
                            and are committed to knowing our customers' business, anticipating their needs, and exceeding
                            expectations.</span></li>
                        <li><strong>Embrace Change and Innovation: </strong><span class="font-weight-light">We are open to
                            possibility and foster creativity and risk-taking to support continuous improvement.</span></li>
                        <li><strong>Focus on Employee Development and Continuous Learning: </strong><span
                            class="font-weight-light">We are committed to become a continuously learning organization and
                            accordingly, encourage learning of employees and maximize employees' potential.</span></li>
                        <li><strong>Model Leadership: </strong><span class="font-weight-light"> We lead by example and advocate
                            equitable treatment in our behaviours, policies, and practices.</span></li>
                        <li><strong>Promote Excellence: </strong><span class="font-weight-light">We believe those we serve deserve
                            excellent service, a safe, productive, and healthy work environment, and quality results.</span></li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="nodal">
                    <h2 class="heading-1">NODAL OFFICER FOR SUPERANNUATION SCHEME</h2>
                    <div class="card" style="width: 25rem; margin-bottom: 15px">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">Ms. Shruti Sharma</h6>
                            Industrial Developement Corporation Limited <br>
                            (Government of India Undertaking) <br>
                            Scope Complex, National Fertilizers ltd. <br>
                            Core-5, 4th Floor, 7 Lodi Road, <br>
                            New Delhi- 110 003 <br>
                            Email ID : helpdeskidcl@gmail.com
        
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
<%- include('./partial/footer'); -%>