<%- include('./partial/header'); -%>
<div class="row">
    <div class="col-sm-8" style="margin: 20px 0px;">
        <table class="table table-striped">
            <thead class="bg-danger">
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Officer's Name</th>
                <th scope="col">Post</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>SHRI VINOD KUMAR</td>
                <td>Regional Office Faridabad</td>
                <td>Administrative Building, EPIP, Shastripuram, Faridabad.</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>SHRI SANJU UPADHAYA</td>
                <td>Regional Office, Indore.</td>
                <td>Industrial Area, Sector-1, Ramghat Road, Indore.</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>SHRI SANTOSH KUMAR</td>
                <td>Area Office SEZ Chennai</td>
                <td>6 km., P.O. Ratanpur Kala, Chennai.</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>SHRI ASHISH NATH</td>
                <td>Regional Office, Hyderabad</td>
                <td>Plot No 11, 1st Floor, Gangapuri Colony, mahmoorganj, Hyderabad.</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>SHRI SATISH KUMAR</td>
                <td>Regional Office, Kolkata</td>
                <td>963/A, First Floor, ASR Tower, Near Hotel Chrom, Shatabdi Nagar, Kolkata</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>SHRI GIRISH KUMAR SHAKYA</td>
                <td>Regional Office, Guwahati</td>
                <td>Admn. Building, Growth center Bijuali, Guwahati</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>SHRI U.K. SRIVASTAVA</td>
                <td>Regional Office, Patna.</td>
                <td>1/13/386 Civil Lines, Patna</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>SHRI PRADEEP KUMAR</td>
                <td>Executive Engineer (Civil)</td>
                <td>CD-6, 1/9/33 Hosila Nagar, New Delhi</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-sm-4">
      <%- include('./partial/sidebar'); -%>
      </div>
</div>
<%- include('./partial/footer'); -%>