<%- include('./partial/header'); -%>
<div class="row">
    <div class="col-sm-8 font">
        <div class="card" style="margin: 20px 0px;">
            <div class="card-body" >
                <h5>Potential Sectors - Food Processing</h5>
                <br>
                <br>
                <small>The food processing sector has the potential to grow at a rapid pace with the demand for
                    processed
                    food
                    increasing everyday. In the next 5 years the wastage of perishables due to lack of processing
                    infrastructure
                    facilities will be considerably reduced. The favourable agro climatic conditions are conducive for
                    the
                    growth of
                    this sector and opportunities in this sector abound in processing, sourcing, logistics and setting
                    up
                    cold
                    chains</small>
                <br>
                <br>
                <div class="row" style="justify-content: space-around;">
                    <div> <img src="/images/food-3.png" alt="food3" style="width: 100%;"> </div>
                    <div><img src="/images/food-2.png" alt="food2" style="width: 100%;"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <%- include('./partial/sidebar'); -%>

    </div>
</div>
<%- include('./partial/footer'); -%>