<%- include('./partial/header'); -%>
<div class="row">
    <div class="col-sm-8 font" style="margin: 20px 0px;">
        <h5>Potential Sectors - Herbal Medicine</h5>
        <br>
        <small>There is a vast variety of medicinal herbs and plants in the hills and forests of Assam. About 300 types
            of
            medicinal herbs and plants are known to exist in abundance in the state. However, only about 5-10% of the
            plants
            and herbs are commercially cultivated for extraction purposes. Hence, this sector presents huge resources
            waiting to be utilized and opportunities exist in plantation & cultivation of medicinal herbs & plants,
            herbal
            cosmetics, medicinal plant extract etc</small>
        <br>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <img src="/images/medicinal.png" alt="Medicine">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="/images/medicinal2.png" alt="medicinal2">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <%- include('./partial/sidebar'); -%>
    </div>
</div>
<%- include('./partial/footer'); -%>