<%- include('./partial/header'); -%>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">General Instructions for Applicant </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
                <ol>
                    <li>Before applying, the candidate should ensure that he/ she fulfills the eligibility criteria and other
                        norms mentioned in this advertisement. Scanned copies of passport sized photograph, signature and
                         should be kept ready beforehand as these documents would be required to be
                        uploaded at the time of filling up of online application form.
                    </li>
                    <li>The size of photograph, signature should be 50, 20 kb respectively and the allowed
                        types
                        are .jpg or .jpeg for photograph and signature.</li>
        
                    <li>All Applications to be made online through the link provided in the ‘careers’ page of the IDCL website
                        i.e. https://www.idclonline.in/. Candidates are required to upload recent passport sized photograph (not
                        more than 3 months old), scanned signature. No hard copies are required to be sent to IDCL.
                    </li>
                    <li>All information regarding this recruitment process would be made available in the career section of
                        IDCL website, i.e. www.IDCLindia.org, only. Applicants are advised to check the web site periodically
                        for important updates. Once registered for IDCL, all correspondences shall be made through their
                        registered e-mail ID and/ or candidate login. Hence, candidates are requested to correspond with
                        IDCL through one email-id.
                    </li>
                    <li>In case of any query the same may be sent to recruitment@IDCL.co.in with “POST - _____” in the Subject
                        Line.
                        Candidates are advised to add this e-mail ID to their address book. IDCL will not be responsible for
                        bouncing of e-mail /
                        non-delivery of e-mail / delivery of e-mail to junk or spam folder. Contact No.
                        011-45601260/9405008748(11:00AM to 4:30 PM).
                    </li>
                </ol>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
            <a href="/registerForm" class="btn btn-success btn-lg" style="float: right;">Apply Now</a>
          </div>
      </div>
    </div>
  </div>
  <!-- modal -->
<%- include('./partial/footer'); -%>