<%- include('./partial/header'); -%>
<div class="row">
    <div class="col-sm-8 font" style="margin: 20px 0px;">
        <div class="card">
            <div class="card-header">Board Of Directors</div>
            <div class="card-body row">
                <div class="col-sm-4">
                    <div>
                        <div class="director_img">
                            <img src="/images/rajeev_sharma.png" alt="leadership_rajeev">
                        </div>
                        <h5>Shri Rajeev Sharma</h5>
                        <small>Chairman</small>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div>
                        <div class="director_img">
                            <img src="/images/saurabhkumar.png" alt="leadership_saurabh">
                        </div>
                        <h5>Shri Saurabh Kumar</h5>
                        <small>Executive Vice Chairman ( Interim Charge )</small>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div>
                        <div class="director_img">
                            <img src="/images/rajpal.png" alt="leadership_rajpal">
                        </div>
                        <h5>Shri Raj Pal</h5>
                        <small>Government Nominee Director</small>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div>
                        <div class="director_img">
                            <img src="/images/abhay.png" alt="leadership_abhay">
                        </div>
                        <h5>Shri Abhay Bakre</h5>
                        <small>Government Nominee Director</small>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div>
                        <div class="director_img">
                            <img src="/images/mr_gopal.png" alt="leadership_gopal">
                        </div>
                        <h5>Shri S. Gopal</h5>
                        <small>Managing Director ( Interim Charge ) &amp; Director (Commercial)</small>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div>
                        <div class="director_img">
                            <img src="/images/venkatesh_dwivedi.png" alt="leadership_venki">
                        </div>
                        <h5>Shri Venkatesh Dwivedi</h5>
                        <small>Director (Projects &amp; BD)</small>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div class="director_sboxs">
                        <div class="director_img">
                            <img src="/images/Lakshmanan.png" alt="leadership_profile">
                        </div>
                        <h5>Shri R. Lakshmanan</h5>
                        <small>Nominee Director</small>
                        <small>REC Limited</small>
                    </div>
                </div>
    
                <div class="col-sm-4">
                    <div class="director_sboxs">
                        <div class="director_img">
                            <img src="/images/Aditya_Dar.png" alt="leadership_profile">
                        </div>
                        <h5>Shri Aditya Dar</h5>
                        <small>Nominee Director (NTPC)</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <%- include('./partial/sidebar'); -%>

    </div>
</div>
<%- include('./partial/footer'); -%>