<%- include('./partial/header'); -%>
<div class="row">
    <div class="col-sm-8 font" style="margin: 20px 0px;">
        <h5>Potential Sectors - Mineral Based</h5>
        <br>
        <small>Crude Oil is the chief mineral available in Assam. The state accounts for about 15% of Indian Crude Oil
            output. The Oil wells at Digboi, Duliajan and Sibsagar also produce natural gas, contributing to about 50%
            of Indian’s total on-shore production which may be used for production of fertilizers, electricity,
            petrochemicals and fuel in the industrial sector. Limestone is another mineral available in different
            grades. The China clay from Karbi-Anglong district is vital for the ceramic industry. Deposits of decorative
            stones like granite are available in various shades and colours and has a huge domestic as well as export
            market. Coal reserves are also found in Upper Assam and Central Assam.</small>
        <br>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <img src="/images/minarels.png" alt="Minerals">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="/images/minarels2.png" alt="minerals2">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <%- include('./partial/sidebar'); -%>
    </div>
</div>
<%- include('./partial/footer'); -%>