<%- include('./partial/header'); -%>
<div class="row">
    <div class="col-sm-8 font middle-card">
        <div class="card" style="margin: 20px 0px;">
            <div class="card-body">
                <h5>Our Partners</h5>
                <h6>(50 Years of Partnership in Industrial Growth)</h6>
                <small>India Industrial Development Corporation Limited has been incorporated in the year 1965 and it
                    has been registered under the Companies Act. 1956. IDCL has promoted, established and executed nos.
                    of Medium, Large and Mega industries / projects in India since inception in various schemes.</small>
                <br>
                <small>Some of the Major Industries/Hospital/Hotels Projects are promoted by India Industrial
                    Development Corporation Ltd. in various schemes since inception.</small>
                <ul>
                    <li>India Industrial Development Corporation Limited on behalf of the Government of India carried
                        out all the incubation services of works till the formation of company for the major projects in
                        the state like Numaligarh Refinery Limited, Brahmaputra Cracker & Polymer Limited, Maniram Dewan
                        Trade Centre of India Trade Promotion Organisation, India Hydrocarbon and Energy Company Limited
                        etc.</li>
                </ul>
                <div class="row" style="justify-content: space-around;">
                    <div><img src="/images/ahecl-logo.jpg" alt="ahecl"></div>
                    <div><img src="/images/atpo-logo.jpg" alt="atpo"></div>
                    <div><img src="/images/bcpl_logo.jpg" alt="bpcl"></div>
                    <div><img src="/images/nrl_logo.jpg" alt="nrl"></div>
                </div>
                <br>
                <ul>
                    <li>The following units are the major Dividend paying company after Equity participation.</li>
                </ul>
                <div class="row" style="justify-content: space-around;">
                    <div><img src="/images/premeir-logo.jpg" alt="premier"></div>
                    <div><img src="/images/aap-logo.jpg" alt="air"></div>
                    <div><img src="/images/downtown-logo.jpg" alt="downtown"></div>
                    <div><img src="/images/gnrc-logo.jpg" alt="gnrc"></div>
                </div>
                <br>
                <ul>
                    <li><strong>Join Venture Company:- </strong> Calcom Cement Limited, a subsidiary of Dalmia Bharat
                        Group and Prag Bosimi Synthetic Limited promoted by Bombay Silk Mills Ltd. and Associates of
                        Bosimi group had been established as joint venture companies..</li>
                </ul>
                <div class="row" style="justify-content: space-around;">
                    <div><img src="/images/calcom-logo.jpg" alt="calcom"></div>
                    <div><img src="/images/pragbosimi-logo.jpg" alt="pragbosimi"></div>
                </div>
                <br>
                <ul>
                    <li>In service sector also, one of the premier Hotel projects was promoted by IDCL under Refinance
                        Scheme</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <%- include('./partial/sidebar'); -%>

    </div>
</div>
<%- include('./partial/footer'); -%>