<%- include('./partial/header'); -%>
<div class="row">
    <div class="col-sm-8 font" style="margin: 20px 0px;">
        <h5>Potential Sectors - Power</h5>
        <br>
        <small>Projections indicate that over 1500 Megawatts of new generation capacity would be required in Assam in
            the coming years. There is a large gap in the demand and supply of power, because of which there are
            opportunities in power generation from hydro, coal based, natural gas based and alternative energy,
            transmission network ventures. Efforts for the reduction of power coasts are underway</small>
        <br>
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <img src="/images/power1.png" alt="power1">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <img src="/images/power2.png" alt="power2">
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <%- include('./partial/sidebar'); -%>
    </div>
</div>
<%- include('./partial/footer'); -%>