<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Industrial Development Corpotration Limited">
    <meta name="keywords" content="IDCL India, Industrial Development, IDCL">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/formStyle.css">
    <link rel="icon" href="/images/idcl.png" type="image/x-icon">
    <link rel="shortcut icon" href="/images/idcl.png" type="image/x-icon">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="/stylesheets/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title><%= title %></title>
</head>

<body>
    <div class="container">
        <div class="row" style="padding: 0.5rem 1rem;">
            <div class="logo"><img src="/images/idcl.png" alt="logo"></div>
            <div>
                <h2 class="font">Industrial Development Corpotration Limited</h2>
                <h5 class="font">(Ministry of Infrastructure and Industrial Development, Govt. of India)</h5>
            </div>

        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-info font shadow-sm">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">ABOUT US</a>
                    </li>

                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">SERVICES</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/foodProcessing">FOOD PROCESSING</a>
                            <a class="dropdown-item" href="/herbal">HERBAL</a>
                            <a class="dropdown-item" href="/mineral">MINERAL</a>
                            <a class="dropdown-item" href="/power">POWER</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="http://gis.onlineupsidc.com/">GIS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/partners">PARTNERS</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/leadership">LEADERSHIP</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/career">CAREER</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/contact">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </nav>