<div class="card border-danger" style="margin: 20px 0px;">
    <div class="card-header bg-danger text-white">What's New</div>
    <div class="card-body">
      <marquee behavior="scroll" direction="up">
        <small>
          24-09-2020 <br>
          IDCL Ltd as nodal agency to the Industries and Commerce Dept., Govt. of India, invites application
          IDCL/GM/PMU(PMFME)/93/2020/3419
           </small>
           <hr>
           <small>News letter(Edition-1) <br>
            Date : 01/07/2020
            <hr>
            News letter(Edition-2) <br>
            Date : 15/09/2020</small>
      </marquee>
    </div>
  </div>
  <div class="card border-danger">
    <div class="card-header bg-danger text-white">Tenders</div>
    <div class="card-body">
      <marquee behavior="scroll" direction="up" scrollamount="5">
        <small>IDCL/GM/TT/Consultant/96/2020/3686 <br>
          Engagement of a Consultant for assisting the Government of India and the State Nodal Agency and collaborating with it in the development of Twin Tower Trade Centre in Guwahati
          <br>
          11-08-2020
           <hr>
          IDCL/GM/PMU(PMFME)/93/2020/3419 <br>
          IDCL Ltd. as nodal agency to the Industries and Commerce Dept., Govt. of India, invites application.
          <br>
          24-07-2020
           </small>
      </marquee>
    </div>
  </div>